<nav class="navbar navbar-dark navbar-background py-3 py-lg-2">
    <div class="d-block container-md px-2 px-sm-4 px-lg-2">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a class="d-flex align-items-center mt-2 mb-3 my-lg-0 mx-3 mx-md-0 me-lg-auto text-light text-decoration-none navbar-title">
                <span class="fs-4 fw-bold"> <i class="bi bi-wrench-adjustable-circle-fill me-1"> </i> Engineema </span>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0">
                <li class="me-lg-2">
                    <a class="nav-link nav-link-color" routerLink="home" routerLinkActive="active">
                        <div class="d-block mx-auto text-center">
                            <i class="bi bi-house-fill fs-4"> </i> 
                        </div>

                        <div class="text-center">
                            <span class="fw-semibold"> Home </span>
                        </div>
                    </a>
                </li>

                <li class="me-lg-2">
                    <a class="nav-link nav-link-color" routerLink="tickets-purchase/movie-selection" routerLinkActive="active">
                        <div class="d-block mx-auto text-center">
                            <i class="bi bi-film fs-4"> </i>
                        </div>

                        <div class="text-center">
                            <span class="fw-semibold"> Movie Selection </span>
                        </div>
                    </a>
                </li>

                <li class="me-lg-2">
                    <a class="nav-link nav-link-color disabled" routerLink="tickets-purchase/seat-selection" routerLinkActive="active">
                        <div class="d-block mx-auto text-center">
                            <i class="bi bi-geo-fill fs-4"> </i>
                        </div>

                        <div class="text-center">
                            <span class="fw-semibold"> Seat Selection </span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>