<div class="container px-1 px-md-4 pt-4 pb-4">
    <h3 class="mb-3 fw-bold icon-color"> <i class="bi bi-credit-card-2-back-fill me-1"> </i> Payment Selection </h3>
    <hr class="border border-secondary mb-5">

    <div class="row px-3">
        <div class="mb-5 col-12 col-lg-7">
            <app-selected-show-time [showTimeData]="movieData"> </app-selected-show-time>
        </div>

        <div class="mb-4 col-12 col-lg-5">
            <app-seats-map [showTimeData]="showTimeData" [seatSelection]="false" 
            [selectedSeatCoordinates]="ticketsAvailabilityService.selectedShowTime.seatCoordinates"> </app-seats-map>
        </div>

        <div class="mb-4 col-12 col-lg-6">
            <app-card-payment [selectedSeatCoordinates]="ticketsAvailabilityService.selectedShowTime.seatCoordinates"> </app-card-payment>
        </div>

        <div class="col-12 col-lg-6">
            <app-cash-payment [selectedSeatCoordinates]="ticketsAvailabilityService.selectedShowTime.seatCoordinates"> </app-cash-payment>
        </div>
    </div>
</div>