.showtime-button-background {
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(255, 116, 23);
    --bs-btn-bg: rgb(255, 116, 23);
    --bs-btn-border-color: rgb(255, 116, 23);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-bg: rgba(255, 116, 23, 0.9);
    --bs-btn-hover-border-color: rgba(255, 116, 23, 0.9);
    --bs-btn-focus-shadow-rgb: var(--bd-orange);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: rgba(255, 116, 23, 0.8);
    --bs-btn-active-border-color: rgba(255, 116, 23, 0.8);
}

.showtime-label-background {
    background-color: rgb(255, 116, 23);
}