<div class="px-3">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-12 col-lg-3 col-xl-2 pb-0 pb-md-4 px-3 pt-4 d-flex justify-content-center">
                <img [src]="movieData.imageSrc" class="img-fluid rounded-2" alt="Movie image" width="150" height="220">
            </div>
    
            <div class="col-12 col-lg-9 col-xl-10">
                <div class="card-body h-100 py-4 d-flex flex-column">
                    <h5 class="card-title"> {{movieData.title}} </h5>
                    <p class="card-text mb-0"> {{movieData.description}} </p>

                    <div class="mb-2">
                        <ng-container *ngFor="let showTime of movieShowTimes.showTimes">
                            <div *ngIf="showTime.freeTickets > 0 else noTicketsAvailable" class="pt-2 d-inline-block">
                                <app-showtime [movieIndex]="movieData.index" [showTime]="showTime.showTime" [selectionBehavior]="true" [availableTickets]="true" class="me-2"> </app-showtime>
                            </div>

                            <ng-template #noTicketsAvailable>
                                <div class="pt-2 d-inline-block">
                                    <app-showtime [movieIndex]="movieData.index" [showTime]="showTime.showTime" [selectionBehavior]="true" [availableTickets]="false" class="me-2"> </app-showtime>
                                </div>
                            </ng-template>
                        </ng-container>
                    </div>

                    <p class="card-text d-flex justify-content-end flex-wrap mt-auto"> 
                        <small class="text-body-secondary fs-5 mt-2 mt-sm-0"> 
                            <span class="badge time-icon-background py-2"> <i class="bi bi-clock me-1"> </i> {{movieData.duration}} </span> 
                        </small> 

                        <small class="text-body-secondary fs-5 mt-2 mt-sm-0 ms-2"> 
                            <span class="badge price-icon-background py-2"> <i class="bi bi-cash-stack me-1"> </i> ${{movieData.price | number: '1.2'}} </span> 
                        </small> 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>